<section class="component-trip-card">
    <div class="grid-post">
        <header>
            <span class="date pull-left">{{dateInterval}}</span>
        </header>
        <figure class="block-img">
            <a href="/trips/36980f2d-f95d-4ea3-8f65-d40f62487d68" id="ember739" class="ember-view">
                <img src="{{coverPhotoURL}}">
            </a>
        </figure>
        <footer>
            <figure class="user-tn">
                <dummy-element id="ember978" class="max-size ember-view">
                    <div class="photo-max max-size" style="background-image: url('{{organiserPhotoURL}}')"></div>
                </dummy-element>
            </figure>

            <div class="title-container">
                <h3>{{@trip.name}}</h3>
                <span class="status-square -yellow-background"></span>
            </div>
            <div class="row">
                <div class="col-xs-8 stripped-text">
                    <h4>{{#each @trip.destination key="@index" as |dest|}}{{dest}} {{/each}}</h4>
                </div>
                <div class="col-xs-4">
                    <p class="seats">
                        <span>
                            <i class="custom-icon people-icon"></i> {{@trip.approvedTravellersCount}}
                            <span class="-grey">/ {{@trip.partnersReqd}}</span>
                        </span>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</section>